
        body{
            height: 100vh;
            margin: 0;
            background-color: rgb(42, 128, 167);
        }
        .address{
            text-align: center;
            color: aliceblue;
        }
        .qq{
            color: azure;
            font-weight: bold;
            font-size: .8cm;
            margin-left: 1cm;
        }
        .ww{
            margin-left: 1cm;
            color: white;
            font-size: .5cm;
            background-color: rgba(0, 0, 0, 0.15);
            padding: 5px;
        }
        .rr{
            color: azure;
            font-weight: bold;
            font-size: .8cm;
            margin-left: 1cm;
        }
        .uu{
            margin-left: 1cm;
            color: white;
            font-size: .5cm;
            background-color: rgba(0, 0, 0, 0.15);
        }
        .ii{
            color: azure;
            font-weight: bold;
            font-size: .8cm;
            margin-left: 1cm;
        }
        .oo{
            margin-left: 1cm;
            color: white;
            font-size: .5cm;
            background-color: rgba(0, 0, 0, 0.15);
            padding: 5px;
        }
        .pp{
            color: azure;
            font-weight: bold;
            font-size: .8cm;
            margin-left: 1cm;
        }
        .aa{
            margin-left: 1cm;
            color: white;
            font-size: .5cm;
            background-color: rgba(0, 0, 0, 0.15);
            padding: 5px;
        }
        .md{color: azure; font-weight: bold;font-size: .8cm;text-align: center;}
        .img_img{display: block; margin: auto;}
        .qq2{border-radius: 2cm; margin-left: 5cm; background-color: rgb(255, 208, 0); color: azure;font-size: 1.1cm;
            display: block; margin: auto; margin-top: .5cm; margin-bottom: 1.3cm;
        cursor: pointer;    }