        body{
            height: 100vh;
            margin: 0;
            background-color: rgb(42, 128, 167);
        }
        .title{text-align: center; color: aliceblue;}
        .section-title{color: azure; font-weight: bold; font-size: .8cm; margin-left: 1cm;}
        .section-text{margin-left: 1cm; color: rgb(255, 255, 255); font-size: .5cm; background-color: rgba(0, 0, 0, 0.15);}
        .image, .video{margin-left: 1cm;}
        .img_img{display: block; margin: auto;}
        .write_1{color: azure; font-weight: bold;font-size: .8cm; text-align: center;}
        
        .qq2{border-radius: 2cm; margin-left: 5cm; background-color: blue; color: azure;font-size: 1.1cm;
            display: block; margin: auto; margin-top: .5cm; margin-bottom: 1.3cm;
        cursor: pointer;    }