        body{
            height: 100vh;
            margin: 0;
            background-color: rgb(42, 128, 167);
        }
        .title{text-align: center; color: aliceblue;}
        .section-title{color: azure; font-weight: bold; font-size: .8cm; margin-left: 1cm;}
        .section-text{margin-left: 1cm; color: rgb(255, 255, 255); font-size: .5cm; background-color: rgba(0, 0, 0, 0.15);}